{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}
    {% block name %} | Запросы специалистов{% endblock name %}
{% endblock title%}
{% block menu %}
    <a class="navbar-brand" href="{% url 'main:main' %}">Поиск ЛД</a>
    <a class="navbar-brand" href="{% url 'main:newld' %}">Добавить новое ЛД</a>
    <a class="navbar-brand" href="{% url 'main:newclient' %}">Добавить нового клиента</a>
{% endblock menu %}
{% block content %}
<div class="container">
    <div id="form">Список запросов ЛД</div><br>
    {% for q in querys %}
    <ul style="margin-top: 15px;">
        <li>Личное дело: {{ q.query_client }}. Назначить в работу специалисту: {{ q.query_spec }}.
            <div style="float: right;"><a href="{% url 'main:edit_ld' q.query_client.id %}" class="btn btn-info">Назначить ЛД</a></div>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock content %}