{% extends "main/base.html" %}
    {% block title %}
        {% block name %} | Рабочее место архивариуса{% endblock name %}
    {% endblock title%}
{% block menu %}
    <a class="navbar-brand" href="{% url 'main:archiv_querys' %}">Запросы ЛД</a>
    <a class="navbar-brand" href="{% url 'main:newld' %}">Добавить новое ЛД</a>
    <a class="navbar-brand" href="{% url 'main:newclient' %}">Добавить нового клиента</a>
    <a class="navbar-brand" href="{% url 'accountability:accountability' %}">Отчетность</a>
    {% endblock menu %}
{% block content %}
<div class="container-fluid">
    <div class="row" align="right">
        <form action="{% url 'main:search' %}" method="post">
            <div class="col-md-7" style="margin-left: 10px; width: auto;">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <label for="search"></label>
                    <input class="form-control" id="search" type="text" name="search" value="{{ search }}" size="100"
                           placeholder="Поиск личного дела по ФИО или ИПД, например: Иванов Иван Петрович или 123456"
                           title="Поиск личного дела по ФИО или ИПД, например: Иванов Иван Петровичили или 123456">
                </p>
            </div>
            <div class="col-md-1" style="float: right;">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Найти</button>
            </div>
        </form>
    </div>
    <hr>
</div>
<div class="container-fluid">
    <div class="row" align="left">
        <div class="col-md-12">
            <table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="col-xs-1">ИПД</th>
            <th class="col-xs-1">Фамилия</th>
            <th class="col-xs-1">Имя</th>
            <th class="col-xs-1">Отчество</th>
            <th class="col-xs-1">Дата рождения</th>
            <th class="col-xs-2">Адрес</th>
            <th class="col-xs-1">Категория</th>
            <th class="col-xs-1">Статус ЛД</th>
            <th class="col-xs-1">Движение ЛД</th>
            <th id="sel" class="col-xs-1">Изменение ЛД</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
    </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" align="left">
        <div class="col-md-12">
        {% for i in data_search %}
            <table class="table">
    <thead class="thead-dark">
    </thead>
    <tbody>
        <tr>
            <th class="col-xs-1"><a href="{% url 'main:edit_ld' i.id %}">{{ i.ipd }}</a></th>
            <td class="col-xs-1">{{ i.client.last_name }}</td>
            <td class="col-xs-1">{{ i.client.first_name }}</td>
            <td class="col-xs-1">{{ i.client.middle_name }}</td>
            <td class="col-xs-1">{{ i.client.bday }}</td>
            <td class="col-xs-2">{{ i.client.address }}</td>
            <td class="col-xs-1">{{ i.category }}</td>
            <td class="col-xs-1">{{ i.control }}</td>
            {% if i.control.id == 6 %}
            <td class="col-xs-1"></td>
            {% elif i.control.id == 3 %}
            <td class="col-xs-1">{{ i.info }}</td>
            {% else %}
            <td class="col-xs-1">{{ i.spec }}</td>
            {% endif %}
            <td class="col-xs-1">
                <a href="{% url 'main:edit_ld' i.id %}" class="btn btn-info">Редактировать ЛД</a>
            </td>
        </tr>
    </tbody>
    </table>
        {% endfor %}
        </div>
    <div id="specialist" onclick="return false" style="display:none">
        <form method="post" action="/">
            {% for i in spec %}
                <input type="checkbox" name="option1" value="a1"> {{ i.fio }}<Br>
            {% endfor %}
            <p><input id="continue" type="submit" value="Отправить"></p>
        </form>
    </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/..."></script>
<script type="text/javascript">
$('#sel').on('click',function(){
        $('#specialist').show();
});
</script>
{% endblock scripts %}