{% extends "main/base.html" %}
{% block title %}
    {% block name %} | Рабочее место специалиста{% endblock name %}
{% endblock title%}
{% block menu %}
    <a class="navbar-brand" href="{% url 'main:main' %}">Поиск ЛД</a>
{% endblock menu %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><h4 class='f-h' style="text-align: left;">Список ЛД, находящихся в работе специалиста:</h4><br></div>
        <div class="col-md-2"  id="stat_spec">
            {% for ld in lds %}
                {% if ld.pk == request.user.usersprofile.pk %}
                    <li class="list-group-item" onclick="gen_stat('spec', {{ ld.pk }})">Сформировать отчет</li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <table class="table table-bordered floatThead ct">
        <thead class="thead-dark">
            <tr>
                <th class="col-xs-1">ИПД</th>
                <th class="col-xs-2">ФИО</th>
                <th class="col-xs-2">Дата рождения</th>
                <th class="col-xs-2">Адрес проживания</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
        </table>
    </div>
</div>
    {% for ld in injob %}
<div class="container-fluid">
    <div>
        <table class="table table-bordered floatThead ct">
        <thead class="thead-dark">
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-xs-1">{{ ld.ipd }}</td>
                <td class="col-xs-2">{{ ld.client }}</td>
                <td class="col-xs-2">{{ ld.client.bday }}</td>
                <td class="col-xs-2">{{ ld.client.address }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
    {% endfor %}
{% endblock content %}
{% block scripts %}
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script>
        function gen_stat(stype, pk) {
            window.open('statistic_xls?type=' + stype + "&pk=" + pk, '_blank');
        }
    </script>
{% endblock scripts %}