{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}
    {% block name %} | Добавление нового ЛД{% endblock name %}
{% endblock title%}
{% block menu %}
    <a class="navbar-brand" href="{% url 'main:main' %}">Поиск ЛД</a>
{% endblock menu %}
{% block content %}
<div class="container">
<div id="form">Форма добавления ЛД</div><br>
    <hr>
    <form action="{% url 'main:newld' %}" method='post'>
        {% csrf_token %}
        <div id="form_style">
        {{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" name="submit" style="width: 100%;">Добавить ЛД</button>
        </div>
    </form>
</div>
{% endblock content %}