{% extends "main/base.html" %}
{% block title %}
    {% block name %} | Запрос ЛД{% endblock name %}
{% endblock title%}
{% block menu %}
    <a class="navbar-brand" href="{% url 'main:main' %}">Поиск ЛД</a>
    <a class="navbar-brand" href="{% url 'main:ldinjob' %}">ЛД в работе</a>
{% endblock menu %}
{% block content %}
<div class="container">
    <div id="form">Форма запроса ЛД</div><br>
    <hr>
    <form action="" method='post'>
        {% csrf_token %}
        <div id="form_style">
            <p>
                <select name="query_client" required="" id="id_query_client">
                    <option value="" selected="">---------</option>
                {% for q in query %}
                    <option value="{{ q.id }}">{{ q.ipd }} {{ q.client }}</option>
                {% endfor %}
                </select>

                <span class="helptext">* Личное дело</span>
            </p>
            <p>
                <input type="text" name="query_date" required="" id="id_query_date">
                <span class="helptext">* Дата запроса (01.01.2019)</span>
            </p>
            <p>
                <input type="checkbox" name="query_ld" id="id_query_ld">
                <span class="helptext">* Статус запроса</span>
            </p>
            <p>
                <select name="query_spec" required="" id="id_query_spec">
                {% for u in users %}
                    <option value="{{ u.id }}">{{ u.fio }}</option>
                    {% endfor %}
                </select> <span class="helptext">* Специалист</span>
            </p>
            <button class="btn btn-lg btn-primary btn-block" name="submit" >Запрос</button>
        </div>
    </form>
    <!--<form action="{% url 'main:queryld' %}" method='post'>-->
        <!--{% csrf_token %}-->
        <!--<div id="form_style">-->
        <!--{{ form.as_p }}-->
            <!--<button class="btn btn-lg btn-primary btn-block" name="submit" style="width: 100%;">Запрос ЛД</button>-->
        <!--</div>-->
    <!--</form>-->

    <br><hr><p>Внимание, все поля помеченные звездочкой, обязательны для заполнения.</p>
</div>
{% endblock content %}
{% block scripts %}
<script>
$('form').on('click', 'p[name="submit"]', function () {
var data = $(this).parents('form').serialize();

    $.ajax({
        url: "queryld",
        type:"GET",
        data: form.serialize(),
        dataType:"html",
        beforeSend:funcBeforeinfoNewItemsProdaj,
        success: funcSuccessinfoNewItemsProdaj
      });
});
</script>
{% endblock scripts %}